html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    padding: 20px;
    height: 100vh;
}
main {
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.container {
    width: 70%;
    height: 250px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2), -4px -4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.container span {
    border: none;
    border-left: none;
    border-top: none;
}
.container .change {
    background-color: black;
}
.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}
button {
    border: none;
    padding: 10px;
    display: grid;
    place-items: center;
    width: 100px;
    text-align: center;
    font-size: 18px;
    background-color:;
    border-radius: 5px;
    cursor: pointer;
}
.eraser, .default, .clear, .rainbow{
    background-color: white;
    border: 1px solid black;
}
.selector .active {
    background-color: black;
    color: white;
}
.default {
    color: white;
}
.select-color {
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.range-text {
    color: orangered;
    font-size: 25px;
    margin: 20px 0;
}
header {
    font-size: 30px;
    color: rgb(219, 13, 126);
    letter-spacing: 2px;
    text-align: ;
    padding: 10px 0;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .selector {
        flex-direction: row;
    }
    .container {
        width: 60%;
        height: 400px;
    }
    header {
        text-align: center;
    }
}